p{
    font-size: 1.2em
}
 
body{
 
    background-color: lightblue;
    color: rgb(4, 11, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter
}
 
h1{
    color: #ff0000;
}
.box-1
{
    background-color: whitesmoke;
    padding: 0% 10%;
 
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;
    border-right: 5px red solid;
    border-style: ridge;
 
    margin: 20px
}
.box-2
{
    background-color: wheat;
    padding: 20px;
    margin: 10px;
 
    border: 5px rebeccapurple solid;
}
 
#myform{
    background-color: grey;
    color: blanchedalmond;
    padding: 50px;
    margin: 20px;
}
 
 
#myform input[type ="text"]{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%
}
 
#myform input[type = "submit"], .button {
    padding: 8px;
    border: none;
    background-color: darkblue;
    color: whitesmoke
}
 
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}